<h3>About Blocipedia</h3>
<p>Blocipedia is a project that replicates wikipedia, a free online encyclopedia that is written by the people who use it. This is a project of Bloc Academy's backend web development course. Blocipedia is built with the Ruby on Rails framework.</p>
