<div class="welcome_title">
  <h1>Blocipedia</h1>
  <h5>Because sharing is caring and learning is earning.</h5>
</div>
<div class="sign_up">
  <div class="sign_up_button">
    <h3>Join the Blocipedia community today!</h3>
    <br>
    <button type="button">
      <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %>
    </button>
  </div>
  <div class="account_types">
    <p><strong>Standard</strong> : Unconstipate your brain and unleash all that pent up knowledge  by creating as many wikis as your heart desires.</p>
    <p><strong>Premium</strong> : Because a standard account just isn't enough. Premium accounts allow you to create private wikis, which will lead to online cliques and potentially encourage cyber bullying.</p>
  </div>
</div>
