<div class="welcome_title">
  <h1>Blocipedia</h1>
  <h5>Because sharing is caring and learning is earning.</h5>
</div>
<div class="sign_up">
  <div class="sign_up_button">
    <h3>Join the Blocipedia community today!</h3>
    <button type="button">
      Sign Up
    </button>
  </div>
  <div class="account_types">
    <p>Standard : Unconstipate your brain and unleash all that pent up knowledge  by creating as many wikis as your heart desires.</p>
    <p>Premium : Because a standard account just isn't enough. Premium accounts allow you to create private wikis, which will lead to online cliques and potentially encourage cyber bullying.</p>
  </div>
</div>
